/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Noto+Sans+JP:wght@500;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300;400;500&display=swap');
/* ::::::::::::::::::: Globals ::::::::::::::::::::: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  background-color: var(--BgColor);
}
a {
  text-decoration: none;
  color: inherit;
}
.section {
  max-width: 100vw;
  margin: 0 auto;
  margin-top: 5rem;
}
.section-center {
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
}
.section-title {
  text-align: center;
  color: var(--MainColor);
  font-family: var(--TitleFont);
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .section-center {
    width: 95vw;
  }
}
ul {
  list-style: none;
}
/* End Globals */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
:root {
  /* Colors */
  --BgColor: #fdfdfd;
  --MainColor: #8b0000;
  --Gray1Color: #8a817c;
  --Gray2Color: #2c302e;
  --BlueColor: #2d3142;
  --CtaColor: #52d557;
  /* Fonts */
  --TitleFont: 'Noto Serif', serif;
  --TextsFont: 'Quicksand', sans-serif;
  --CtaFonts: 'Noto Sans JP', sans-serif;
  --LogoFont: 'Dancing Script', cursive;
  /* Others */
  --MainTransition: 0.3s ease all;
}
/* End Variables */

/* ::::::::::::::::::: Header ::::::::::::::::::::: */
.header {
  width: 100vw;
  text-align: center;
  padding-top: 2rem;
  border-bottom: 1px solid var(--MainColor);
}
.logo-container {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: var(--LogoFont);
  color: var(--MainColor);
}
/* Navbar */
.nav-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  width: 95%;
  margin: 0 auto;
}
.nav-links-browse {
  display: flex;
  justify-content: space-around;
}
.nav-links-browse li {
  margin-right: 0.7rem;
  font-family: var(--TitleFont);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: black;
  border-bottom: 2px solid transparent;
  transition: var(--MainTransition);
}
.nav-links-browse li:hover {
  border-bottom: 2px solid var(--MainColor);
}
.nav-links-user {
  display: flex;
}
.nav-links-user li {
  margin-left: 1rem;
  font-family: var(--TitleFont);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: black;
  border-bottom: 2px solid transparent;
  transition: var(--MainTransition);
}
.nav-links-user li:hover {
  border-bottom: 2px solid var(--MainColor);
}
/* End Header */

/* ::::::::::::::::::: Error Page ::::::::::::::::::::: */
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.error-container h1 {
  font-size: 2rem;
  color: var(--MainColor);
  font-family: var(--TitleFont);
}
.error-btn-home {
  color: var(--CtaColor);
  margin-top: 3rem;
  font-size: 1.5rem;
  transition: var(--MainTransition);
}
.error-btn-home:hover {
  transform: scale(1.1);
}
/* End Error */

/* ::::::::::::::::::: About ::::::::::::::::::::: */
.about-section {
  width: 80vw;
}
.about-section p {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5rem;
}
/* End About */

/* ::::::::::::::::::: Hero ::::::::::::::::::::: */
.hero {
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./assets/pizahero1.jpg') center/cover fixed no-repeat;
  position: relative;
}
.banner {
  color: white;
  padding-left: 4rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.banner h1 {
  letter-spacing: 3px;
  font-size: 3rem;
  font-family: var(--TitleFont);
}
.banner p {
  letter-spacing: 2px;
  color: #fafafa;
  margin-bottom: 4rem;
  font-family: var(--TextsFont);
}
.btn-hero {
  padding: 0.5rem 1rem;
  border: 2px solid var(--CtaColor);
  font-family: var(--CtaFonts);
  font-size: 1.2rem;
  transition: var(--MainTransition);
}
.btn-hero:hover {
  color: white;
  background-color: var(--CtaColor);
}
/* End Hero */

/* ::::::::::::::::::: Loading Component ::::::::::::::::::::: */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  text-align: center;
}
.loading h2 {
  color: #e53d00;
  font-size: 3rem;
  letter-spacing: 2px;
}
/* End Loading */

/* ::::::::::::::::::: Products Page ::::::::::::::::::::: */
/* Products List Page */
.products-center {
  width: 85vw;
  margin: 0 auto;
}
/* Single Product Component */
.product {
  width: 15rem;
  height: 17rem;
  text-align: center;
  margin: 0 auto;
  position: relative;
  background: white;
  margin-bottom: 2rem;
  border-radius: 0.6rem;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.652);
}
.product:hover {
  box-shadow: 1px 1px 10px black;
}
.product-img-container {
  position: relative;
  border-bottom: 1px solid var(--CtaColor);
  width: 90%;
  margin: 0 auto;
}
.product-img-container img {
  width: 100%;
  object-fit: cover;
}
.btn-product-card {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 2rem;
  border: 2px solid var(--CtaColor);
  background: rgba(255, 255, 255, 0.631);
  transition: var(--MainTransition);
  color: var(--CtaColor);
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}
.btn-product-card:hover {
  opacity: 1;
  border: 2px solid var(--CtaColor);
}
.product-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.product-title {
  color: var(--MainColor);
  letter-spacing: 1.3px;
  font-weight: bold;
  margin-top: 1.6rem;
}
.product-price {
  color: var(--CtaColor);
  font-weight: 600;
  letter-spacing: 2px;
  padding-top: 1rem;
}
/* End Products Page */

/* ::::::::::::::::::: Product Description Page ::::::::::::::::::::: */
.single-product {
  width: 70%;
  margin: 3rem auto;
}
.single-product-img {
  width: 100%;
}
.single-prod-info {
  text-align: center;
  padding-top: 2rem;
}
.single-prod-info h1 {
  font-size: 1.5rem;
  color: var(--Light2Color);
  margin-bottom: 0.5rem;
}
.single-prod-info h2 {
  color: #011c27;
  margin-bottom: 2rem;
}
.single-prod-info p {
  letter-spacing: 1.3px;
}
.btn-add-cart {
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  border: 2px solid var(--CtaColor);
  color: var(--CtaColor);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
  transition: var(--MainTransition);
}
.btn-add-cart:hover {
  background-color: #e53d00;
  border: 2px solid var(--CtaColor);
  color: white;
}
/* End Product Description Page */

/* ::::::::::::::::::: Footer ::::::::::::::::::::: */
.footer-section {
  width: 100vw;
  border-top: 1px solid var(--MainColor);
}
.footer-center {
  background: var(--Gray1Color);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.footer-info-light {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.light-left {
  text-align: left;
  padding: 1rem 0rem;
  font-size: 1.3rem;
  font-family: var(--TextsFont);
  letter-spacing: 1px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.85);
}
.light-right {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.85);
  transition: var(--MainTransition);
  cursor: pointer;
}
.light-right > *:hover {
  color: #52d557;
}
.footer-info-dark {
  background: var(--Gray2Color);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.6rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.282);
  padding: 0.2rem 0;
}
/* End Footer */

/* ::::::::::::::::::: Empty Cart ::::::::::::::::::::: */
.empty-cart-container {
  height: 80vh;
}
.section-center h2 {
  padding: 5rem;
  font-family: var(--TitleFont);
  color: var(--MainColor);
}
.btn-emptycart {
  padding: 0.5rem 1rem;
  border: 2px solid var(--CtaColor);
  font-family: var(--CtaFonts);
  font-size: 1.2rem;
  transition: var(--MainTransition);
}
.btn-emptycart:hover {
  color: white;
  background-color: var(--CtaColor);
}
/* End  Empty Cart*/

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
/* End Variables */ ;
